.body {
    display: inline-flex;
    flex-direction: row;
}

.home {
    /*display: inline-block;*/
    /*margin-left: 338px;*/
    height: 100vh;

}

.Stories {
    /*margin-left: 250px;*/
    height: 85px;
    width: 630px;
    margin-top: 50px;
    border: 1px blue dotted;
}


/*
    Posts
*/
.posts {
    margin-top: 50px;
    /*margin-left: 250px;*/
    border: 1px red dotted;
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    border: 1px green dotted;
    width: 75%;
}

.post-user {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.post-user {
    float: left;
}

.post-user-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family:"Calibri", sans-serif;
    margin-right: 5px;
}


.post-username {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin-right: 5px;
}

.post-username:hover{
    color: grey;
}

.post-date {
    color: grey;
}

.post-user-pfp {
    fill: white;
    transform: scale(0.8);

    display: flex;
    align-items: center;
    margin: 5px 10px 5px 0px;
}