.body {
    display: inline-flex;
    flex-direction: row;
    margin-left: 30%;
}

.home {
    /*display: inline-block;*/
    /*margin-left: 338px;*/
    height: 100vh;
    width: 630px;
}

.Stories {
    /*margin-left: 250px;*/
    height: 85px;
    width: 630px;
    margin-top: 50px;
    border: 1px blue dotted;
}


/*
    Posts
*/


.posts {
    margin-top: 50px;
    border: 1px red dotted;
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px green dotted;
    width: 75%;
}

.post-user {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    max-width: 100%;
}

.post-user {
    float: left;
}

.post-user-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family:"Calibri", sans-serif;
    margin-right: 5px;
}


.post-username {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin-right: 5px;
}

.post-username:hover{
    color: grey;
}

.post-image {
    max-width: 100%;
    max-height: 600px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.post-image img {
    width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 3px;
}

.post-date {
    color: grey;
}

.post-info {
    font-family:"Calibri", sans-serif;
    color: rgb(158, 158, 158);
}

.post-comment-option {
    display: inline-block;
    margin-bottom: 5px;
}

.post-user-pfp {
    fill: white;
    transform: scale(0.8);

    display: flex;
    align-items: center;
    margin: 5px 10px 5px 0px;
}

.post-options {
    display: flex;
    flex-direction: row;
    fill: white;
    transform-origin: left;
}

.post-like, .post-comment,.post-save {
    transform: scale(0.6);
}

.post-like:hover, .post-comment:hover,.post-save:hover {
    fill: gray;
}

.post-save {
    margin-left: auto;
}