.LogInBox {
    width: 300px;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}


#LogInText {
    color: white;
    font-family: 'Poiret One';
    font-size: 50px;
    margin: 30% auto 10px;
}

.LogInFields {
    font-family:"Calibri", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input {
    background: white;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: black;
    font-weight: 500;
    margin: auto;
}